* {
  margin: 0;
  padding: 0;
}
/* body and @keyframes fade animation stuff https://www.geeksforgeeks.org/how-to-create-fade-in-effect-on-page-load-using-css/*/
@keyframes fadeInAnimation { 
  0% { 
      opacity: 0; 
  } 
  100% { 
      opacity: 1; 
  } 
} 
@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
  }
  @keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
  }
/* end body and key frames animation */
html {
scroll-behavior: smooth;
}
:root {
  --main-white: #f0f0f0;
  --main-red: #c41532;
  --main-blue: #45567d;
  --main-gray: #303841;
}
body {
  font-size: 1.8rem;
  font-weight: 200;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  line-height: 1.4;
  animation: fadeInAnimation ease 2s; 
  animation-iteration-count: 1; 
  animation-fill-mode: forwards; 
}
/* scrollbar stuff */
/* width */
::-webkit-scrollbar {
  width: 10px;
}
/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* end scrollbar stuff */
a:link {
  color: white;
  text-decoration: none;
}
a:visited {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: white;
  background-color: transparent;
  text-decoration: none;
}
ul {
  list-style: none;
}
ul li a {
  margin-left:12px; 
  display: inline-block;
}
h1, h2, h3, h4, h5, h6, p {
  text-align: center;
  color: #f8f8ff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  word-wrap: break-word;
}
h1 {
  padding-top:5vh; 
  padding-bottom:5vh;
}
li {
  text-align: left;
  color: #f8f8ff;
}
footer {
  /* font-weight: 300; */
  display: flex;
  justify-content: space-evenly;
  padding: 2rem;
  background: rgb(33, 36, 35);
  border-top: 4px solid lightblue;
}
.iAbout {
  color:white; 
  margin-left: 5px;
}
/* .site-background{
  background-color: rgb(34, 41, 39);
} */
.siteFont {
  color: grey;
}
/*new nav */
.dropbtn {
  background-color: transparent;
  color: #f8f8ff;
  font-size: 2em;
  border: none;
}
.dropdiv {
  width: 25px;
  height: 5px;
  background-color: #f8f8ff;
  margin: 3px 0;
}
.dropdown {
  top: 0;
  display: inline-block;
  align-content: left;
  text-align: left;
  top: 10px;
  left: 10px;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(27, 27, 27); 
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  display: block;
  color: #f8f8ff;
  text-decoration: none;
}
.dropdown-content a:hover {
  background-color: rgb(27, 27, 27);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown:hover .dropbtn {
  background-color: rgb(27, 27, 27); /*hover color when hovering over the dropdown */
}
.card-btn{
  color:black; 
  display:inline-block;
}
.btn {
  display: inline-block;
  padding: 1rem 2rem;
  margin: 20px;
}
.wrapper {
text-align: center;
}
.proj-padding{
  padding-left: 30px;
  padding-right: 30px;
}
.img-area {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.single-img{
  padding:0 20px 20px;
}
.text-area {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.6;
}
.example-img-size {
  width: 300px;
  height: 300px;
}
.center {
  text-align: center;
  align-items: center;
}
.background-image {
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),
  url('img/welcomeBackground.PNG') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
.contact-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 80vh;
  /* padding: 0 2rem; */
}
/*start of zoom code */
.zoomSmall {
  padding: 10px;
  /* transition: transform .2s;  */
  margin: 0 auto;
}
.zoomSmall:hover {
  /* transform: scale(1.10);  */
}
.zoom {
  padding: 10px;
  transition: transform .2s; /* Animation */
  margin: 0 auto;
}
.zoom:hover {
  transform: scale(1.25); /* (20% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}
/* end zoom code */
/* back to top button  https://www.w3schools.com/howto/tryit.asp?filename=tryhow_js_scroll_to_top*/
#myBtn {
  display: none;
  position: fixed;
  bottom: 20px;
  left: 20px;
  z-index: 99;
  font-size: 18px;
  border: none;
  outline: none;
  background-color:  rgb(19, 20, 20);;
  color: white;
  cursor: pointer;
  padding: 12px;
  border-radius: 4px;
}
#myBtn:hover {
  background-color: #555;
}