body{
  background: rgb(38, 197, 202);
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  font-size: 40px;
}
li {
    list-style-type:none;
    text-align: center;
  }
.btn{
  background: rgb(25, 26, 100);
  margin: 20px;
  color: white;
  border-radius: 20px;
  cursor: pointer;
}
.add-btn{
  background: rgb(25, 26, 100);
  color: white;
  width: 60px;
  height: 40px;
  border-radius: 5px;
  cursor: pointer;
}
.app-title{
  text-align: center;
  color: teal;
  font-size: 50px;
  text-shadow: 2px 2px black;
}
.container{
  border: 5px solid teal;
  border-radius: 25px;
}
.input-text{
  height: 40px;
  border-radius: 5px;
}