.custom_class {
  color: pink;
}
.custom_class2 {
  background-color: rgb(192, 255, 197);
}
.custom_class3 {
  background-color: rgb(232, 105, 243);
  color: white;
  text-align: center;
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.custom_class4 {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}